<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="MyApp"
           Manufacturer="Your Company"
           Version="1.0.0.0"
           UpgradeCode="b0e780f9-7aa9-446b-8f40-d4d9370040d2">

    <MajorUpgrade DowngradeErrorMessage="A newer version is already installed." />

    <Feature Id="MainFeature" Title="Main Application" Level="1">
      <ComponentGroupRef Id="AppFiles" />
    </Feature>
  </Package>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="MyApp" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="AppFiles" Directory="INSTALLFOLDER">
      <Files Include="adqa-win~\**" />
    </ComponentGroup>
  </Fragment>
</Wix>